@page
@model ServiceHost.Pages._404NotFoundModel
@{
    ViewData["Title"] = "صفحه مورد نظر یافت نشد";
}

<div class="tg-innerbanner tg-haslayout tg-parallax tg-bginnerbanner" data-z-index="-100" data-appear-top-offset="600" data-parallax="scroll" data-image-src="/Theme/assets/images/parallax/bgparallax-07.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-innerbannercontent">
                    <h1>خطا 404</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<main id="tg-main" class="tg-main tg-haslayout">
    <div class="tg-sectionspace tg-haslayout">
        <div class="container">
            <div class="row">
                <div class="tg-404error">
                    <div class="col-xs-12 col-sm-12 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3">
                        <div class="tg-404errorcontent">
                            <h2>اوه، این صفحه پیدا نشد</h2>
                            <span>404</span>
                        </div>
                        <form asp-page="./Books" method="get" class="tg-formtheme tg-formsearch">
                            <fieldset>
                                <input type="search" name="value" id="value" class="typeahead form-control" placeholder="جستجو">
                                <button type="submit"><i class="icon-magnifier"></i></button>
                            </fieldset>
                            <div class="tg-gobackhome">
                                <span>یا رفتن به</span>
                                <a asp-page="/Index">خانه اصلی</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
