@page
@model ServiceHost.Pages.AccountModel
@{
    ViewData["Title"] = "ورود و ثبت نام";
}


<div class="tg-innerbanner tg-haslayout tg-parallax tg-bginnerbanner" data-z-index="-100" data-appear-top-offset="600" data-parallax="scroll" data-image-src="/Theme/assets/images/parallax/bgparallax-07.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-innerbannercontent">
                    <h1>ورود و ثبت نام</h1>
                    <ol class="tg-breadcrumb">
                        <li><a asp-page="/Index">خانه</a></li>
                        <li class="tg-active">ورود و ثبت نام</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6 login-container">
            @if (Model.LoginMessage != null)
            {
                <div class="alert alert-danger">
                    @Model.LoginMessage
                </div>
            }
            <form method="post" asp-page-handler="Login">
                <div class="form-group">
                    <h4 class="title login-heading">ورود</h4>
                    <div class="row">
                        <div class="col-md-12 col-12">
                            <label class="login-label">نام کاربری</label>
                            <input type="text" name="username" placeholder="مثال: danial_darvish" required="" style="width: 100%;">
                        </div>
                        <div class="col-md-12 col-12">
                            <label class="login-password-label">کلمه عبور</label>
                            <input type="password" name="password" placeholder="********" required="" style="width: 100%;">
                        </div>
                        <div class="col-sm-6 text-left text-sm-right" style="padding: 16px;">
                            <a href="#" class="forget-pass-link"> کلمه عبور خود را فراموش کردید؟</a>
                        </div>

                        <div class="col-md-12">
                            <button class="btn btn-success login-button">ورود</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-6 register-container">
            @if (Model.RegisterMessage != null)
            {
                <div class="alert alert-danger">
                    @Model.RegisterMessage
                </div>
            }
            <form method="post" asp-page-handler="Register">
                <div class="login-form">
                    <h4 class="login-heading" style="padding-top: 0 !important;">ثبت نام</h4>
                    <div class="row">
                        <div class="col-md-6 col-12 mb-20">
                            <label class="login-password-label">نام و نام خانوادگی</label>
                            <input type="text" name="fullname" placeholder="مثال: دانیال درویش" required="">
                        </div>
                        <div class="col-md-6 col-12 mb-20">
                            <label class="login-password-label">نام کاربری</label>
                            <input type="text" name="username" placeholder="مثال: danial_darvish" required="">
                        </div>
                        <div class="col-md-12 mb-20">
                            <label class="login-password-label">تلفن همراه</label>
                            <input type="number" name="mobile" placeholder="مثال: 09213781973" style="width: 100%" required="">
                        </div>
                        <div class="col-md-6 mb-20">
                            <label class="login-password-label">کلمه عبور</label>
                            <input type="password" name="password" placeholder="مثال: ********" required="">
                        </div>
                        <div class="col-md-6 mb-20">
                            <label class="login-password-label">تکرار کلمه عبور</label>
                            <input type="password" name="rePassword" placeholder="مثال: ********" required="">
                        </div>
                        <div class="col-12">
                            <button class="btn btn-success register-button">ثبت نام</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

