@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



@await Component.InvokeAsync("Slide");

<main id="tg-main" class="tg-main tg-haslayout">
    <!--************************************
    All Status Start
    *************************************-->
    @await Component.InvokeAsync("Status");
    <!--************************************
            All Status End
    *************************************-->
    <!--************************************
            Best Selling Start
    *************************************-->
    <section class="tg-sectionspace tg-haslayout">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-sectionhead">
                        <h2><span>به انتخاب مردم</span>پرفروش‌ترین‌ها</h2>
                        <a class="tg-btn" href="javascript:void(0);">مشاهده همه</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="tg-bestsellingbooksslider" class="tg-bestsellingbooksslider tg-bestsellingbooks owl-carousel">
                        <div class="item">
                            <div class="tg-postbook">
                                <figure class="tg-featureimg">
                                    <div class="tg-bookimg">
                                        <div class="tg-frontcover"><img src="~/Theme/assets/images/books/img-01.jpg" alt="image description"></div>
                                        <div class="tg-backcover"><img src="~/Theme/assets/images/books/img-01.jpg" alt="image description"></div>
                                    </div>
                                    <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                                        <i class="icon-heart"></i>
                                        <span>افزودن به علاقه‌مندی‌ها</span>
                                    </a>
                                </figure>
                                <div class="tg-postbookcontent">
                                    <ul class="tg-bookscategories">
                                        <li><a href="javascript:void(0);">ماجراجویی</a></li>
                                        <li><a href="javascript:void(0);">سرگرم‌کننده</a></li>
                                    </ul>
                                    <div class="tg-themetagbox"><span class="tg-themetag">فروش</span></div>
                                    <div class="tg-booktitle">
                                        <h3><a href="javascript:void(0);">کمکم کن روحم را پیدا کنم</a></h3>
                                    </div>
                                    <span class="tg-bookwriter">توسط: <a href="javascript:void(0);">آنجلا گانینگ</a></span>
                                    <span class="tg-stars"><span></span></span>
                                    <span class="tg-bookprice">
                                        <ins>25000 تومان</ins>
                                        <del>23000 تومان</del>
                                    </span>
                                    <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                                        <i class="fa fa-shopping-basket"></i>
                                        <em>افزودن به سبدخرید</em>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="tg-postbook">
                                <figure class="tg-featureimg">
                                    <div class="tg-bookimg">
                                        <div class="tg-frontcover"><img src="~/Theme/assets/images/books/img-02.jpg" alt="image description"></div>
                                        <div class="tg-backcover"><img src="~/Theme/assets/images/books/img-02.jpg" alt="image description"></div>
                                    </div>
                                    <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                                        <i class="icon-heart"></i>
                                        <span>افزودن به علاقه‌مندی‌ها</span>
                                    </a>
                                </figure>
                                <div class="tg-postbookcontent">
                                    <ul class="tg-bookscategories">
                                        <li><a href="javascript:void(0);">ماجراجویی</a></li>
                                        <li><a href="javascript:void(0);">سرگرم‌کننده</a></li>
                                    </ul>
                                    <div class="tg-themetagbox"><span class="tg-themetag">فروش</span></div>
                                    <div class="tg-booktitle">
                                        <h3><a href="javascript:void(0);">رانندگی امن، بدون سرعت گیر</a></h3>
                                    </div>
                                    <span class="tg-bookwriter">توسط: <a href="javascript:void(0);">آنجلا گانینگ</a></span>
                                    <span class="tg-stars"><span></span></span>
                                    <span class="tg-bookprice">
                                        <ins>25000 تومان</ins>
                                        <del>23000 تومان</del>
                                    </span>
                                    <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                                        <i class="fa fa-shopping-basket"></i>
                                        <em>افزودن به سبدخرید</em>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="tg-postbook tg-notag">
                                <figure class="tg-featureimg">
                                    <div class="tg-bookimg">
                                        <div class="tg-frontcover"><img src="~/Theme/assets/images/books/img-03.jpg" alt="image description"></div>
                                        <div class="tg-backcover"><img src="~/Theme/assets/images/books/img-03.jpg" alt="image description"></div>
                                    </div>
                                    <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                                        <i class="icon-heart"></i>
                                        <span>افزودن به علاقه‌مندی‌ها</span>
                                    </a>
                                </figure>
                                <div class="tg-postbookcontent">
                                    <ul class="tg-bookscategories">
                                        <li><a href="javascript:void(0);">ماجراجویی</a></li>
                                        <li><a href="javascript:void(0);">سرگرم‌کننده</a></li>
                                    </ul>
                                    <div class="tg-booktitle">
                                        <h3><a href="javascript:void(0);">بذار وقت خوبی پیدا کنم</a></h3>
                                    </div>
                                    <span class="tg-bookwriter">توسط: <a href="javascript:void(0);">آنجلا گانینگ</a></span>
                                    <span class="tg-stars"><span></span></span>
                                    <span class="tg-bookprice">
                                        <ins>25000 تومان</ins>
                                        <del>23000 تومان</del>
                                    </span>
                                    <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                                        <i class="fa fa-shopping-basket"></i>
                                        <em>افزودن به سبدخرید</em>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="tg-postbook">
                                <figure class="tg-featureimg">
                                    <div class="tg-bookimg">
                                        <div class="tg-frontcover"><img src="~/Theme/assets/images/books/img-04.jpg" alt="image description"></div>
                                        <div class="tg-backcover"><img src="~/Theme/assets/images/books/img-04.jpg" alt="image description"></div>
                                    </div>
                                    <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                                        <i class="icon-heart"></i>
                                        <span>افزودن به علاقه‌مندی‌ها</span>
                                    </a>
                                </figure>
                                <div class="tg-postbookcontent">
                                    <ul class="tg-bookscategories">
                                        <li><a href="javascript:void(0);">ماجراجویی</a></li>
                                        <li><a href="javascript:void(0);">سرگرم‌کننده</a></li>
                                    </ul>
                                    <div class="tg-themetagbox"><span class="tg-themetag">فروش</span></div>
                                    <div class="tg-booktitle">
                                        <h3><a href="javascript:void(0);">هنر سخت عادل بودن</a></h3>
                                    </div>
                                    <span class="tg-bookwriter">توسط: <a href="javascript:void(0);">آنجلا گانینگ</a></span>
                                    <span class="tg-stars"><span></span></span>
                                    <span class="tg-bookprice">
                                        <ins>25000 تومان</ins>
                                        <del>23000 تومان</del>
                                    </span>
                                    <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                                        <i class="fa fa-shopping-basket"></i>
                                        <em>افزودن به سبدخرید</em>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="tg-postbook tg-notag">
                                <figure class="tg-featureimg">
                                    <div class="tg-bookimg">
                                        <div class="tg-frontcover"><img src="~/Theme/assets/images/books/img-05.jpg" alt="image description"></div>
                                        <div class="tg-backcover"><img src="~/Theme/assets/images/books/img-05.jpg" alt="image description"></div>
                                    </div>
                                    <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                                        <i class="icon-heart"></i>
                                        <span>افزودن به علاقه‌مندی‌ها</span>
                                    </a>
                                </figure>
                                <div class="tg-postbookcontent">
                                    <ul class="tg-bookscategories">
                                        <li><a href="javascript:void(0);">ماجراجویی</a></li>
                                        <li><a href="javascript:void(0);">سرگرم‌کننده</a></li>
                                    </ul>
                                    <div class="tg-booktitle">
                                        <h3><a href="javascript:void(0);">آتش زدن شاخه ها</a></h3>
                                    </div>
                                    <span class="tg-bookwriter">توسط: <a href="javascript:void(0);">آنجلا گانینگ</a></span>
                                    <span class="tg-stars"><span></span></span>
                                    <span class="tg-bookprice">
                                        <ins>25000 تومان</ins>
                                        <del>23000 تومان</del>
                                    </span>
                                    <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                                        <i class="fa fa-shopping-basket"></i>
                                        <em>افزودن به سبدخرید</em>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="tg-postbook">
                                <figure class="tg-featureimg">
                                    <div class="tg-bookimg">
                                        <div class="tg-frontcover"><img src="~/Theme/assets/images/books/img-06.jpg" alt="image description"></div>
                                        <div class="tg-backcover"><img src="~/Theme/assets/images/books/img-06.jpg" alt="image description"></div>
                                    </div>
                                    <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                                        <i class="icon-heart"></i>
                                        <span>افزودن به علاقه‌مندی‌ها</span>
                                    </a>
                                </figure>
                                <div class="tg-postbookcontent">
                                    <ul class="tg-bookscategories">
                                        <li><a href="javascript:void(0);">ماجراجویی</a></li>
                                        <li><a href="javascript:void(0);">سرگرم‌کننده</a></li>
                                    </ul>
                                    <div class="tg-themetagbox"><span class="tg-themetag">فروش</span></div>
                                    <div class="tg-booktitle">
                                        <h3><a href="javascript:void(0);">کمکم کن روحم را پیدا کنم</a></h3>
                                    </div>
                                    <span class="tg-bookwriter">توسط: <a href="javascript:void(0);">آنجلا گانینگ</a></span>
                                    <span class="tg-stars"><span></span></span>
                                    <span class="tg-bookprice">
                                        <ins>25000 تومان</ins>
                                        <del>23000 تومان</del>
                                    </span>
                                    <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                                        <i class="fa fa-shopping-basket"></i>
                                        <em>افزودن به سبدخرید</em>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="tg-postbook tg-notag">
                                <figure class="tg-featureimg">
                                    <div class="tg-bookimg">
                                        <div class="tg-frontcover"><img src="~/Theme/assets/images/books/img-03.jpg" alt="image description"></div>
                                        <div class="tg-backcover"><img src="~/Theme/assets/images/books/img-03.jpg" alt="image description"></div>
                                    </div>
                                    <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                                        <i class="icon-heart"></i>
                                        <span>افزودن به علاقه‌مندی‌ها</span>
                                    </a>
                                </figure>
                                <div class="tg-postbookcontent">
                                    <ul class="tg-bookscategories">
                                        <li><a href="javascript:void(0);">ماجراجویی</a></li>
                                        <li><a href="javascript:void(0);">سرگرم‌کننده</a></li>
                                    </ul>
                                    <div class="tg-booktitle">
                                        <h3><a href="javascript:void(0);">بذار وقت خوبی پیدا کنم</a></h3>
                                    </div>
                                    <span class="tg-bookwriter">توسط: <a href="javascript:void(0);">آنجلا گانینگ</a></span>
                                    <span class="tg-stars"><span></span></span>
                                    <span class="tg-bookprice">
                                        <ins>25000 تومان</ins>
                                        <del>23000 تومان</del>
                                    </span>
                                    <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                                        <i class="fa fa-shopping-basket"></i>
                                        <em>افزودن به سبدخرید</em>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
            Best Selling End
    *************************************-->
    <!--************************************
    Featured Item Start
    *************************************-->

    @await Component.InvokeAsync("Banner")

    <!--************************************
                Featured Item End
        *************************************-->
    <!--************************************
            New Release Start
    *************************************-->
    <section class="tg-sectionspace tg-haslayout">
        <div class="container">
            <div class="row">
                <div class="tg-newrelease">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="tg-sectionhead">
                            <h2><span>جدیدترن ها را تجربه کنید</span>کتابهای تازه منتشر شده </h2>
                        </div>
                        <div class="tg-description">
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
                        </div>
                        <div class="tg-btns">
                            <a class="tg-btn tg-active" href="javascript:void(0);">مشاهده همه</a>
                            <a class="tg-btn" href="javascript:void(0);">بیشتر بخوانید</a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="row">
                            <div class="tg-newreleasebooks">
                                <div class="col-xs-4 col-sm-4 col-md-6 col-lg-4">
                                    <div class="tg-postbook">
                                        <figure class="tg-featureimg">
                                            <div class="tg-bookimg">
                                                <div class="tg-frontcover"><img src="~/Theme/assets/images/books/img-07.jpg" alt="image description"></div>
                                                <div class="tg-backcover"><img src="~/Theme/assets/images/books/img-07.jpg" alt="image description"></div>
                                            </div>
                                            <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                                                <i class="icon-heart"></i>
                                                <span>افزودن به علاقه‌مندی‌ها</span>
                                            </a>
                                        </figure>
                                        <div class="tg-postbookcontent">
                                            <ul class="tg-bookscategories">
                                                <li><a href="javascript:void(0);">ماجراجویی</a></li>
                                                <li><a href="javascript:void(0);">سرگرم‌کننده</a></li>
                                            </ul>
                                            <div class="tg-booktitle">
                                                <h3><a href="javascript:void(0);">کمکم کن روحم را پیدا کنم</a></h3>
                                            </div>
                                            <span class="tg-bookwriter">توسط: <a href="javascript:void(0);">کاترین کالبوستون</a></span>
                                            <span class="tg-stars"><span></span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-6 col-lg-4">
                                    <div class="tg-postbook">
                                        <figure class="tg-featureimg">
                                            <div class="tg-bookimg">
                                                <div class="tg-frontcover"><img src="~/Theme/assets/images/books/img-08.jpg" alt="image description"></div>
                                                <div class="tg-backcover"><img src="~/Theme/assets/images/books/img-08.jpg" alt="image description"></div>
                                            </div>
                                            <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                                                <i class="icon-heart"></i>
                                                <span>افزودن به علاقه‌مندی‌ها</span>
                                            </a>
                                        </figure>
                                        <div class="tg-postbookcontent">
                                            <ul class="tg-bookscategories">
                                                <li><a href="javascript:void(0);">ماجراجویی</a></li>
                                                <li><a href="javascript:void(0);">سرگرم‌کننده</a></li>
                                            </ul>
                                            <div class="tg-booktitle">
                                                <h3><a href="javascript:void(0);">رانندگی امن، بدون سرعت گیر</a></h3>
                                            </div>
                                            <span class="tg-bookwriter">توسط: <a href="javascript:void(0);">سوزان اورلاندو</a></span>
                                            <span class="tg-stars"><span></span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-3 col-lg-4 hidden-md">
                                    <div class="tg-postbook">
                                        <figure class="tg-featureimg">
                                            <div class="tg-bookimg">
                                                <div class="tg-frontcover"><img src="~/Theme/assets/images/books/img-09.jpg" alt="image description"></div>
                                                <div class="tg-backcover"><img src="~/Theme/assets/images/books/img-09.jpg" alt="image description"></div>
                                            </div>
                                            <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                                                <i class="icon-heart"></i>
                                                <span>افزودن به علاقه‌مندی‌ها</span>
                                            </a>
                                        </figure>
                                        <div class="tg-postbookcontent">
                                            <ul class="tg-bookscategories">
                                                <li><a href="javascript:void(0);">ماجراجویی</a></li>
                                                <li><a href="javascript:void(0);">سرگرم‌کننده</a></li>
                                            </ul>
                                            <div class="tg-booktitle">
                                                <h3><a href="javascript:void(0);">بذار وقت خوبی پیدا کنم</a></h3>
                                            </div>
                                            <span class="tg-bookwriter">توسط: <a href="javascript:void(0);">الیزابت رانین</a></span>
                                            <span class="tg-stars"><span></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
            New Release End
    *************************************-->
    <!--************************************
            Collection Count Start
    *************************************-->
    <section class="tg-parallax tg-bgcollectioncount tg-haslayout" data-z-index="-100" data-appear-top-offset="600" data-parallax="scroll" data-image-src="/Theme/assets/images/parallax/bgparallax-04.jpg">
        <div class="tg-sectionspace tg-collectioncount tg-haslayout">
            <div class="container">
                <div class="row">
                    <div id="tg-collectioncounters" class="tg-collectioncounters">
                        <div class="tg-collectioncounter tg-drama">
                            <div class="tg-collectioncountericon">
                                <i class="icon-bubble"></i>
                            </div>
                            <div class="tg-titlepluscounter">
                                <h2>درام</h2>
                                <h3 data-from="0" data-to="6179213" data-speed="8000" data-refresh-interval="50">6,179,213</h3>
                            </div>
                        </div>
                        <div class="tg-collectioncounter tg-horror">
                            <div class="tg-collectioncountericon">
                                <i class="icon-heart-pulse"></i>
                            </div>
                            <div class="tg-titlepluscounter">
                                <h2>جنایی</h2>
                                <h3 data-from="0" data-to="3121242" data-speed="8000" data-refresh-interval="50">3,121,242</h3>
                            </div>
                        </div>
                        <div class="tg-collectioncounter tg-romance">
                            <div class="tg-collectioncountericon">
                                <i class="icon-heart"></i>
                            </div>
                            <div class="tg-titlepluscounter">
                                <h2>عاشقانه</h2>
                                <h3 data-from="0" data-to="2101012" data-speed="8000" data-refresh-interval="50">2,101,012</h3>
                            </div>
                        </div>
                        <div class="tg-collectioncounter tg-fashion">
                            <div class="tg-collectioncountericon">
                                <i class="icon-star"></i>
                            </div>
                            <div class="tg-titlepluscounter">
                                <h2>تاریخی</h2>
                                <h3 data-from="0" data-to="1158245" data-speed="8000" data-refresh-interval="50">1,158,245</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
            Collection Count End
    *************************************-->
    <!--************************************
    Picked By Author Start
    *************************************-->

    @await Component.InvokeAsync("BestBooks")

    <!--************************************
                    Picked By Author End
            *************************************-->
    <!--************************************
    Testimonials Start
    *************************************-->

    @await Component.InvokeAsync("Quote")

    <!--************************************
                Testimonials End
        *************************************-->
    <!--************************************
            Authors Start
    *************************************-->
    @await Component.InvokeAsync("BestAuthors")
    <!--************************************
                Authors End
        *************************************-->
    <!--************************************
            Call to Action Start
    *************************************-->
    <section class="tg-parallax tg-bgcalltoaction tg-haslayout" data-z-index="-100" data-appear-top-offset="600" data-parallax="scroll" data-image-src="/Theme/assets/images/parallax/bgparallax-06.jpg">
        <div class="tg-sectionspace tg-haslayout">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="tg-calltoaction">
                            <h2>تخفیف برای همه</h2>
                            <h3>در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد</h3>
                            <a class="tg-btn tg-active" href="javascript:void(0);">بیشتر بخوانید</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
            Call to Action End
    *************************************-->
    <!--************************************
            Latest News Start
    *************************************-->
    @await Component.InvokeAsync("LatestArticles")
    <!--************************************
                Latest News End
        *************************************-->
</main>
