@page
@model IndexModel
@{
    ViewData["Title"] = "صفحه اصلی";
}

@await Component.InvokeAsync("Slide")

<main id="tg-main" class="tg-main tg-haslayout">
    <!--************************************
    All Status Start
    *************************************-->
    @await Component.InvokeAsync("Status")
    <!--************************************
            All Status End
    *************************************-->
    <!--************************************
    Best Selling Start
    *************************************-->

    @await Component.InvokeAsync("BestSelling")

    <!--************************************
            Best Selling End
    *************************************-->
    <!--************************************
    Featured Item Start
    *************************************-->

    @await Component.InvokeAsync("Banner", true)

    <!--************************************
                Featured Item End
        *************************************-->
    <!--************************************
    New Release Start
    *************************************-->

    @await Component.InvokeAsync("NewRelease")

    <!--************************************
            New Release End
    *************************************-->
    <!--************************************
            Collection Count Start
    *************************************-->
    @await Component.InvokeAsync("BookCount")
    <!--************************************
                Collection Count End
        *************************************-->
    <!--************************************
    Picked By Author Start
    *************************************-->

    @await Component.InvokeAsync("BestBooks")

    <!--************************************
                    Picked By Author End
            *************************************-->
    <!--************************************
    Testimonials Start
    *************************************-->

    @await Component.InvokeAsync("Quote")

    <!--************************************
                Testimonials End
        *************************************-->
    <!--************************************
            Authors Start
    *************************************-->
    @await Component.InvokeAsync("BestAuthors", "Default")
    <!--************************************
                Authors End
        *************************************-->
    <!--************************************
    Call to Action Start
    *************************************-->

    @await Component.InvokeAsync("CallToAction")

    <!--************************************
            Call to Action End
    *************************************-->
    <!--************************************
            Latest News Start
    *************************************-->
    @await Component.InvokeAsync("LatestArticles", "Default")
    <!--************************************
                Latest News End
        *************************************-->
</main>
