@page
@using _01_Framework.Application
@using Newtonsoft.Json
@model ServiceHost.Areas.Administration.Pages.ChartModel
@{
    ViewData["Title"] = "Test";
}


<div class="col-sm-12" id="ShowListOfFeature">
    <div class="portlet">

        <div class="portlet-heading">
            <h3 class="portlet-title text-dark text-uppercase pull-right">
                آمار فروش
            </h3>
            <canvas id="bar"></canvas>
            <div class="clearfix"></div>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        const barChartDiv = document.getElementById("bar");
        const data = @Html.Raw(JsonConvert.SerializeObject(Model.DataSet));
        const barChart = new Chart(barChartDiv,
            {
                type: "bar",
                data: {
                    labels: ["فروردین", "اردیبهشت", "خرداد", "تیر", "مرداد", "شهریور", "مهر", "آبان", "آذر", "دی", "بهمن", "اسفند"],
                    datasets: data
                },
                options: {
                    elements: {
                        bar: {
                            borderWidth: 2
                        }
                    }
                }
            });

        let year = @Convert.ToDateTime(DateTime.Now.ToFarsi()).Year;
        $('#spinner3').spinner({ value: year, min: 0, max: year });


        function Load() {
            const year = $('#year').val();
            $.ajax({
                url: "@Url.Page("/Index")/Chart",
                type: "Get",
                data: { year:year}
            }).done(function (res) {
                $("#ShowListOfFeature").html(res);
            });
        }

    </script>
}
