<section class="tg-sectionspace tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="tg-newrelease">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="tg-sectionhead">
                        <h2><span>جدیدترن ها را تجربه کنید</span>کتابهای تازه منتشر شده </h2>
                    </div>
                    <div class="tg-description">
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
                    </div>
                    <div class="tg-btns">
                        <a class="tg-btn tg-active" href="javascript:void(0);">مشاهده همه</a>
                        <a class="tg-btn" href="javascript:void(0);">بیشتر بخوانید</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="row">
                        <div class="tg-newreleasebooks">
                            <div class="col-xs-4 col-sm-4 col-md-6 col-lg-4">
                                <div class="tg-postbook">
                                    <figure class="tg-featureimg">
                                        <div class="tg-bookimg">
                                            <div class="tg-frontcover"><img src="~/Theme/assets/images/books/img-07.jpg" alt="image description"></div>
                                            <div class="tg-backcover"><img src="~/Theme/assets/images/books/img-07.jpg" alt="image description"></div>
                                        </div>
                                        <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                                            <i class="icon-heart"></i>
                                            <span>افزودن به علاقه‌مندی‌ها</span>
                                        </a>
                                    </figure>
                                    <div class="tg-postbookcontent">
                                        <ul class="tg-bookscategories">
                                            <li><a href="javascript:void(0);">ماجراجویی</a></li>
                                            <li><a href="javascript:void(0);">سرگرم‌کننده</a></li>
                                        </ul>
                                        <div class="tg-booktitle">
                                            <h3><a href="javascript:void(0);">کمکم کن روحم را پیدا کنم</a></h3>
                                        </div>
                                        <span class="tg-bookwriter">توسط: <a href="javascript:void(0);">کاترین کالبوستون</a></span>
                                        <span class="tg-stars"><span></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-6 col-lg-4">
                                <div class="tg-postbook">
                                    <figure class="tg-featureimg">
                                        <div class="tg-bookimg">
                                            <div class="tg-frontcover"><img src="~/Theme/assets/images/books/img-08.jpg" alt="image description"></div>
                                            <div class="tg-backcover"><img src="~/Theme/assets/images/books/img-08.jpg" alt="image description"></div>
                                        </div>
                                        <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                                            <i class="icon-heart"></i>
                                            <span>افزودن به علاقه‌مندی‌ها</span>
                                        </a>
                                    </figure>
                                    <div class="tg-postbookcontent">
                                        <ul class="tg-bookscategories">
                                            <li><a href="javascript:void(0);">ماجراجویی</a></li>
                                            <li><a href="javascript:void(0);">سرگرم‌کننده</a></li>
                                        </ul>
                                        <div class="tg-booktitle">
                                            <h3><a href="javascript:void(0);">رانندگی امن، بدون سرعت گیر</a></h3>
                                        </div>
                                        <span class="tg-bookwriter">توسط: <a href="javascript:void(0);">سوزان اورلاندو</a></span>
                                        <span class="tg-stars"><span></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-3 col-lg-4 hidden-md">
                                <div class="tg-postbook">
                                    <figure class="tg-featureimg">
                                        <div class="tg-bookimg">
                                            <div class="tg-frontcover"><img src="~/Theme/assets/images/books/img-09.jpg" alt="image description"></div>
                                            <div class="tg-backcover"><img src="~/Theme/assets/images/books/img-09.jpg" alt="image description"></div>
                                        </div>
                                        <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                                            <i class="icon-heart"></i>
                                            <span>افزودن به علاقه‌مندی‌ها</span>
                                        </a>
                                    </figure>
                                    <div class="tg-postbookcontent">
                                        <ul class="tg-bookscategories">
                                            <li><a href="javascript:void(0);">ماجراجویی</a></li>
                                            <li><a href="javascript:void(0);">سرگرم‌کننده</a></li>
                                        </ul>
                                        <div class="tg-booktitle">
                                            <h3><a href="javascript:void(0);">بذار وقت خوبی پیدا کنم</a></h3>
                                        </div>
                                        <span class="tg-bookwriter">توسط: <a href="javascript:void(0);">الیزابت رانین</a></span>
                                        <span class="tg-stars"><span></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
